@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body{
  background-image: url(./amanbg.png);
}
.heading{
  font-family: "Caveat", cursive;
  font-size: 68px;
  width: 81%;
  /* margin-left: 6em; */
  /* position: fixed; */
  /* background: white; */
  z-index: 3;
  text-align: center;
}
.Form {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin-left: 13em;
  padding: 20px;
}

.Form-group {
  margin-bottom: 1rem;
}

.Form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.Form-group input[type="radio"],
.Form-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

.Form-group input[type="file"] {
  margin-top: 0.5rem;
}

#theme-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.theme-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.theme-item img {
  max-width: 150px;
  max-height: 150px;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.theme-item img:hover,
.theme-item img:focus {
  border: 2px solid blue;
  outline: none;
}

.theme-item .name {
  margin-top: 0.5rem;
}
.Themes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  height: 45vh;
  width: 98%;
}
.Themes::-webkit-scrollbar {
  width: 0.5em;
  
}
 
.Themes::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px white;
}
 
.Themes::-webkit-scrollbar-thumb {
  background-color: #ffe446;
  outline: 1px solid white;
  border-radius: 50px;
}
.box{

  /* background-color: #ffe446; */
  /* border: 7px solid #ffe446; */
  margin: 5px;
  cursor: pointer;
  padding: 3px 0px;


 
}
.titlet{
  font-size: 16px;
  font-weight: 400;
  color: #0009;
  text-align: center;
}
.box:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}
.gg {
  
  background-color: #ffe446; 
}
.recording-btn {
  border: none;
  background-color: #ffe446;
  color: black;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
}

.recording-btn:hover {
  background-color: #ffe446bd;
}

.recording-btn.recording {
  background-color: #f44336;
}

.recording-btn.recording:hover {
  background-color: #d21c0e;
}
.choose-file-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffe446;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.choose-file-button:hover {
  background-color: #ffe446bd;
}
input[type="radio"] {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border: 2px solid #ccc;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}
input[type="radio"]::after {
  content: "";
  display: none;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}
.optionsgg{
 
  display: flex;
  gap: 17px;
  align-items: center;

}
.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  left: 380px;
  position: relative;
}

.download-button:hover {
  background-color: #3e8e41;
}


.Form-group .inline-label{
  display:inline-block;
}

.inline-flex{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: baseline;
}

.inline-flex input{
  flex-grow: 1;
  outline: transparent;
  padding: 0.3rem 0.4rem;
}